body{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* width: 1435px; */
}

header{
    background-color: #00bb00;
    padding: 0 50px;
    position: sticky;
    top: 0px;
    box-shadow: 0 5px 10px #008000;
}

#first-nav{
    display: flex;
    flex-wrap: wrap-reverse;
}

#search{
    border-radius: 5px;
    border: none;
}

.login,.search-bar{
    width: 40%;
}

#second-nav{
    padding: 5px 0;
    display: flex;
}

.nav-bar,.help-no{
    width: 50%;
}

.logo{
    color: yellow;
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    width: 20%;
}

.logo h2{
    margin: 10px 0;
}

ul{
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 30px;
}

ul li a{
    text-decoration: none;
    color: #fff;
}

ul li a:hover{
    transition: 0.3s linear;
    font-size: 17px;
    color: greenyellow;
}

.nav-bar li a:hover{
    padding-bottom: 20px;
    border-bottom: 2px solid #f0f0f0;
}

ul li a i{
    font-size: 15px;
    color: #f0f0f0;
}

#search{
    margin: 20px 0;
    width: 50vh;
    padding: 8px;
}

#deliver{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 50px;
}

.shipping,.sequre,.cash,.help{
    text-align: center;
    border-radius: 8px;
    padding: 30px;
    height: 200px;
    width: 200px;
    box-shadow: 0 0 5px 5px lightgray;
}

.deliver:hover{
    transition: 0.3s linear;
    padding: 35px;
    box-shadow: 0 0 8px 8px #d3d3d3;
}

.delivery-img{
    height: 40%;
    object-fit: cover;
}

#banner{
    width: 100%;
    height: 550px;
    background-color: rgb(234, 254, 254);
    display: flex;
}

.banner-image{
    padding: 30px 0;
    width: 100%;
    height: 85%;
    object-fit: contain;
}

.banner-image:hover{
    transition: 0.4s linear;
    height: 90%;
}

#text{
    padding: 30px 100px;
    font-size: 16px;
}

#text,#banner-image{
    width: 50%;
}

#more,#buy{
    width: 150px;
    padding: 10px;
    margin: 10px 5px;
    border: none;
}

#more{
    background-color: #00bb00;
    color: #f0f0f0;
}

#buy{
    color: orange;
    background-color: #f0f0f0;
    border: 2px solid orange;
}

#buy:hover{
    background-color: rgb(255, 142, 50);
    color: #f0f0f0;
    border: 2px solid rgb(255, 142, 50);
}

#buy:active{
    background-color: orange;
    color: #f0f0f0;
}

#more:hover{
    background-color: transparent;
    color: #00bb00;
    border: 2px solid #00bb00;
}

#more:active{
    background-color: #008900;
    box-shadow: 0 0 3px 3px lightgray;
    color: #f0f0f0;
}

.data-list{
    padding: 0 30px;
    display: grid;
    gap: 10px;
    list-style-type: square;
    color: #008000;
}

h2.title{
    color: lightcoral;
}

.color{
    color: rgb(83, 202, 83);
}

#deliver{
    font-size: 14px;
}

.jade_plant-data{
    color: #a9a9a9;
}

.delivery-heading{
    font-weight: bold;
}

#poster{
    height: 400px;
    width: 100%;
}

#poster{
   color: #fff;
   background-image: url(image/background.png);
   background-size: cover;
}

.background h3{
    width: 70%;
    margin: 0;
}

.background h1{
    font-size: 50px;
    margin: 0;
}

.background{
    padding: 70px 50px;
    font-family: "Playfair Display", serif;
    font-size: 18px;
}

.bg-para{
    margin: 0;
    font-size: 20px;
}

hr{
    background-color: #fff;
    text-align: left;
    margin: 30px 0;
    width: 30%;
    height: 3px;
    border-radius: 50px;
}

hr:hover{
    transition: 1s linear;
    cursor: pointer;
    width: 100%;
}

.poster{
    height: 100%;
    width: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
}

#content{
    width: 100%;
    overflow-x: scroll;
    display: flex;
}

::-webkit-scrollbar{
    height: 8px;
    width: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    height: 10px;
    background-color: lightgreen;
    border-radius: 50px;
}

.product{
    height: 400px;
    min-width: 300px;
    padding: 30px;
    line-height: 8px;
}

.plant{
    height: 50%;
    width: 90%;
    object-fit: cover; 
}

.plant:hover{
    transition: 0.4s linear;
    height: 55%;
}

.product-data{
    color: #008a00;
}

.product-data .off{
    text-decoration: line-through;
    color: darkgrey;
    font-size: 14px;
}

.rating{
    font-size: 25px;
    color: rgb(255, 204, 0);
}
.rate{
    font-size: 14px;
    color: darkgreen;
}

#popular{
    color: #5ad65a;
    margin: 50px;
}

.bonsai{
    text-align: right;
}

footer{
    display: flex;
    gap: 50px;
    padding: 100px 50px;
    background-color:  rgb(234, 254, 254);
}

#footer-box1,#footer-box2,#footer-box3,#footer-box4{
    width: 25%;
    display: grid;
    text-decoration: none;
    gap: 10px;
}

.link{
    text-decoration: none;
    color: #8d8d8d;
}

.link:hover{
    color: #00bb00;
}

.link:active{
    text-decoration: line-through;
}

i{
    color: #00bb00;
    margin-right: 20px;
    font-size: 25px;
    transition: 0.3s linear;
}

i:hover{
    font-size: 30px;
}

i:active{
    color: #90ee90;
}

.footer-head{
    color: #6d6d6d;
}

#newsletter-form input,button{
    padding: 8px 10px;
    border: 1px solid #808080;
}

#newsletter-form button{
    width: 85px;
}

#about{
   padding: 100px 50px;
}

.container{
    padding: 50px 100px;
}

.tips{
    color: #008a00;
    text-align: center;
}

.tips1{
    display: flex;
}

.list-tip{
    display: grid;
    list-style-type: square;
}

.tips-box1,.tips-box2{
    width: 50%;
    padding: 30px;
} 

.tips-box1 img:hover{
    padding: 15px 0;
    transition: 0.4s linear;
}

#contact-us{
    padding: 30px 50px;
}

.contact-us{
    display: flex;
    gap: 100px;
}

#contact-data{
    width: 60%;
}

#map{
    width: 40%;
}

.whatsapp{
    background-color: transparent;
    position: sticky;
    bottom: 0;
    padding: 20px 10px;
    text-align: right;
}

#whatsapp{
    height: 40px;
}

.help-no{
    text-align: right;
    padding-right: 50px;
}

.help-no p{
    color: #fff;
}

.help-no p i{
    font-size: 15px;
    color: #fff;
}